
header {
    background-color: #1E3A5F;
    color: #ffffff;
}



body { 
     background-color: #F4F4F4;
    title #1E3A5F;
    color: #333333;
    tarjeta #FFFFFF;
}
   
footer {
    background-color: #1E3A5F;
    color: #ffffff;
    text-align: center;
    
}